.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  text-align: left;
}

.titleInput {
  border: none;
  outline: none;
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0;
  width: 100%;
}

.fileWrapper {
  border: 1px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileInput {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.uploadIcon {
  font-size: 80px;
  color: gray;
  margin-bottom: 30px;
}

.uploadText {
  background-color: rgb(6, 187, 247);
  height: 80px;
  width: 250px;
  border-radius: 40px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
  line-height: 80px;
}

.contentWrapper {
  margin-top: 10px;
  background-color: rgb(244, 243, 243);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.contentInput {
  width: 100%;
  background-color: rgb(244, 243, 243);
  border: none;
  outline: none;
  font-size: 1.5rem;
  height: 350px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.createButton {
  background-color: #51a1f6;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  width: 200px;
  border-radius: 5px;
}

.errorMessage {
  margin-bottom: 20px;
  font-size: 1rem;
  color: red;
}
