.article {
  display: flex;
  flex-direction: column;
  width: calc((100% - 184px) / 3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.article > a {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.2s;
}
.article > a:hover {
  box-shadow: 0px 0px 10px 8px #e6e6e6;
  border-radius: 10px;
}

.articleImageContainer {
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.articleImage {
  transition: all 0.2s;
}
.article > a:hover .articleImage {
  transform: scale(1.07);
}

.articleInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 24px 30px;
}

.articleInfoTop {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.articleInfoMiddle {
  display: flex;
  gap: 30px;
}

.articleTitle {
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.5;

  /* タイトルを2行分の高さのみ表示 */
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: calc(1.875rem * 2 * 1.5);
}
.articleCategory {
  font-size: 1.125rem;
  color: #18a0fb;
  flex-shrink: 0;
  line-height: 1.875;
  max-width: 10rem;
  word-wrap: break-word;
}
.articleAuthor {
  color: #18a0fb;
}
.articleDate {
  color: rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}
.articleContent {
  /* コンテンツを3行分の高さのみ表示 */
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* 960px以下の画面幅のスタイル */
@media (max-width: 960px) {
  .articleInfoTop,
  .articleInfoMiddle {
    flex-direction: column;
  }
}

/* 768px以下の画面幅のスタイル */
@media (max-width: 768px) {
  li.article {
    width: calc((100% - 44px) / 1);
    margin: 0 auto;
  }
}
