.wrapper {
  width: 350px;
  text-align: center;
  margin: 50px auto;
}

.wrapper h2 {
  position: relative;
}
/*見出し下線*/
.wrapper h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 50px;
  height: 3px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
}

.formContainer {
  margin: 35px 0 10px;
  text-align: left;
}

.inputTitle {
  margin-left: 5px;
}

.formContainer input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #e3e3e3;
}

.submitButton {
  color: #fff;
  font-weight: bold;
  background-color: #18a0fb;
  width: 120px;
  margin: 10px;
  padding: 12px 30px;
  border-radius: 20px;
  border: 0px;
}

.comment {
  font-size: 0.8rem;
  font-weight: bold;
}

.comment span {
  color: #18a0fb;
  margin-left: 5px;
}
