.container {
  max-width: 900px;
  margin: 50px auto 100px;
}

.editWrapper {
  text-align: right;
}

/* not-found.tsx */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
}

.homeBtn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #383838;
  background-color: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
}
